.container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px auto;
}
.card {
  width: 250px;
  height: auto;
  margin: 20px;
}

/* **********Media query*********** */
@media only screen and (max-width: 628px) {
  .container {
    width: 98%;
  }
  .card {
    width: 100%;
  }
}
